@model MyActivitiesModel
<div class="text-center">
    <table style="width: 100%">
        <tr>
            <th>Activity</th>
            <th>Code</th>
            <th>Subactivities</th>
            <th>Options</th>
        </tr>
        <tr><td colspan="4"><hr></td></tr>
        @foreach (var activity in Model.Activities)
        {
            bool firstIter = true;
            int rowspan = activity.Subcodes.Count();
            @foreach (var subcode in activity.Subcodes)
            {
                <tr>
                    @if (firstIter)
                    {
                        <td rowspan="@rowspan">@activity.ActivityName</td>
                        <td rowspan="@rowspan">@activity.ActivityCode</td>
                    }

                    <td>@subcode.SubactivityCode</td>

                    @if (firstIter)
                    {
                        <td rowspan="@rowspan" style="font-size: 0">
                            <form action=@Url.Action("ViewActivity") style="display: inline-block">
                                <button style="display: inline-block; border: none; background-color: transparent">
                                    <i class="material-icons">fact_check</i>
                                </button>
                            </form>
                            @if (activity.Active) {
                                <form action=@Url.Action("Deactivate") style="display: inline-block">
                                    <button type="submit" style="display: inline-block; border: none; background-color: transparent">
                                        <i class="material-icons">lock</i>
                                    </button>
                                </form>
                            }
                        </td>
                    }
                    @{
                        firstIter = false;
                    }
                </tr>
            }
            <tr><td colspan="4"><hr></td></tr>
        }
    </table>
</div>
