@model UpsertEntryModel
<div class="text-center">
    <p>
        @if (Model.Insert)
        {
            @:Add new entry.
        }
        else
        {
            @:Modify entry.
        }
    </p>
    @using (Html.BeginForm(Model.Insert ? "PostAddEntry" : "PostModifyEntry", "Entry", null, FormMethod.Post, true,
    null))
    {
        if (!Model.Insert)
        {
            @:@Html.HiddenFor(m => m.Entry.EntryPid)
            @:@Html.HiddenFor(m => m.Entry.ActivityCode)
            @:@Html.HiddenFor(m => m.Entry.Date)
            @:@Html.HiddenFor(m => m.Entry.ReportMonth)
        }
            <table width="100%">
                <tr>
                    <td>Date</td>
                    <td>@(
                Model.Insert
                ? Html.EditorFor(m => m.Entry.Date)
                : Html.DisplayFor(m => m.Entry.Date)
                )</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>
                    @if (Model.Insert)
                    {
                        @Html.DropDownListFor(m => m.Entry.ActivityCode, Model.Activities)
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Entry.Activity.ActivityName)
                        @Html.HiddenFor(m => m.Entry.Activity.ActivityName)
                    }
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>@Html.EditorFor(m => m.Entry.Time)</td>
                </tr>
                <tr>
                    <td>Subcode</td>
                    <td>
                    @if (Model.Insert)
                    {
                        @Html.DropDownListFor(m => m.Entry.SubactivityCode, new List<SelectListItem>())
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.Entry.SubactivityCode, Model.Subcodes)
                    }
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@Html.EditorFor(m => m.Entry.Description)</td>
                </tr>
            </table>
            <input type="submit">
    }
    <input type="button" value="Cancel" onclick="history.back()">
</div>
@if (Model.Insert)
{
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                updateSubcodes();
            })

            $("#Entry_ActivityCode").change(function () {
                updateSubcodes();
            });

            var updateSubcodes = function () {
                $.ajax({
                    url: '@Url.Action("Subcodes","Activity")',
                    type: 'GET',
                    data: {
                        ActivityCode: $('#Entry_ActivityCode').val(),
                    },
                    success: function (data) {
                        $('#Entry_SubactivityCode').find('option').remove()
                        $(data).each(
                            function (index, subcode) {
                                $('#Entry_SubactivityCode').append('<option>' + subcode + '</option>')
                            }
                        );
                    },
                    error: function () { }
                });
            }
        </script>
}