<div class="text-center">
    <h1 class="display-4">Activities for @Model.SelectedDate</h1>
    <form>
        <p>Change preview date</p>
        <input type="date" name="date" onchange="this.form.submit()">
    </form>
    <table style="width: 100%">
        <tr>
            <th style="width: 20%">Date</th>
            <th style="width: 10%">Project</th>
            <th style="width: 10%">Sub-project</th>
            <th style="width: 10%">Time [min]</th>
            <th style="width: 40%">Description</th>
            <th style="width: 10%">Options</th>
        </tr>
        @{int i = 0;}
        @foreach (var entry in Model.Entries) {
            i++;
            var date = entry.date.ToShortDateString();
            <tr>
                <td>@date</td>
                <td>@entry.code</td>
                <td>@entry.subcode</td>
                <td>@entry.time</td>
                <td>@entry.description</td>
                <td style="font-size: 0">
                    <form action=@Url.Action("EntryInfo", "Home")>
                        <input name="date" value=@date hidden>
                        <input name="index" value=@i hidden>
                        <button type="submit" style="display: inline-block; border: none; background-color: transparent">
                            <i class="material-icons">info</i>
                        </button>
                    </form>
                    <form action=@Url.Action("ModifyEntry", "Home")>
                        <input name="date" value=@date hidden>
                        <input name="index" value=@i hidden>
                        <button style="display: inline-block; border: none; background-color: transparent">
                        <i class="material-icons">settings</i>
                    </button>
                    </form>
                    <form method="post" action=@Url.Action("DeleteEntry", "Home")>
                        <input name="date" value=@date hidden>
                        <input name="index" value=@i hidden>
                        <button style="display: inline-block; border: none; background-color: transparent">
                        <i class="material-icons">delete</i>
                    </button>
                    </form>
                </td>
            </tr>
        }
        <tr style="font-size: 0">
            <td colspan=6><button style="display: inline-block; border: none; background-color: transparent" onclick="window.location.href = './AddEntry'"><i class="material-icons">add_circle</i></button></td>
        </tr>
    </table>
    <label>Total time: @Model.TotalTime</label>
</div>
