<div class="text-center">
    <table style="width: 100%">
        <tr>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Code</th>
            <th style="width: 15%">Budget</th>
            <th style="width: 15%">Active</th>
            <th style="width: 40%">Subactivities</th>
        </tr>
        @foreach (var activity in Model.Activities.activities) {
            <tr>
                <td style="vertical-align: text-top">@activity.name</td>
                <td style="vertical-align: text-top">@activity.code</td>
                <td style="vertical-align: text-top">@activity.budget</td>
                <td style="vertical-align: text-top">@activity.active</td>
                <td>
                    @foreach (var subactivity in activity.subactivities) {
                        <text>@subactivity.code</text><br>
                    }
                </td>
            </tr>
        }
    </table>
</div>