@model MyActivitiesModel
<div class="text-center">
    <table style="width: 100%">
        <tr>
            <th style="width: 10%">Name</th>
            <th style="width: 10%">Code</th>
            <th style="width: 10%">Budget left</th>
            <th style="width: 10%">Active</th>
            <th style="width: 40%">Subactivities</th>
            <th style="width: 20%">Options</th>
        </tr>
        @foreach (var activity in Model.Activities.activities) {
            <tr>
                <td style="vertical-align: text-top">@activity.name</td>
                <td style="vertical-align: text-top">@activity.code</td>
                <td style="vertical-align: text-top">@activity.budget</td>
                <td style="vertical-align: text-top">@activity.active</td>
                <td>
                    @foreach (var subactivity in activity.subactivities) {
                        <text>@subactivity.code</text><br>
                    }
                </td>
                <td>
                    <form action=@Url.Action("OverseeActivity", "Home")>
                        <input type="hidden" name="code" value=@activity.code>
                        <input type="hidden" name="active" value=@activity.active.ToString()>
                        <button style="display: inline-block; border: none; background-color: transparent">
                        <i class="material-icons">fact_check</i>
                    </button>
                    </form>
                    @if (activity.active) {
                        <form method="post" action=@Url.Action("CloseActivity", "Home")>
                            <input type="hidden" name="code" value=@activity.code>
                            <button style="display: inline-block; border: none; background-color: transparent">
                            <i class="material-icons">lock</i>
                        </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
</div>