@using lab1.Entities
@model Entry
<div class="text-center">
    <table>
        <tr>
            <td>Project name</td>
            <td>@Model.Activity.ActivityName</td>
        </tr>
        <tr>
            <td>Project code</td>
            <td>@Model.ActivityCode</td>
        </tr>
        <tr>
            <td>Project subcode</td>
            <td>@Model.SubactivityCode</td>
        </tr>
        <tr>
            <td>Project manager</td>
            <td>@Model.Activity.ManagerName</td>
        </tr>
        <tr>
            <td>Planned for</td>
            <td>@Model.Date.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Expected time in minutes</td>
            <td>@Model.Time</td>
        </tr>
        <tr>
            <td>Person in charge</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.Description</td>
        </tr>
    </table>
    <input type="button" value="Go back" onclick="history.back()">
</div>